{% extends "layout.html" %}


{% block title %}
{{ book_info.title }}
{% endblock %}


{% block content %}

<div class="info_body">


<!--Shows info about book-->
<img class="book_image_info img-thumbnail" src = "{{ book_info.image_link }}" alt = "{{ book_info.title }}" height="200" width="200">

<div class="book_info">
<h3 class="book_info_title">{{ book_info.title }}</h3>
<p><strong>Author: </strong>{{ book_info.author }}</p>
<p><strong>Description:</strong> {{ book_info.description }}</p>
<p><strong>Genres:</strong> {{book_info.genres|replace("[", "")|replace("]", "")|replace("'","") }}</p>
<p>Date Published: {{ book_info.publish_date }}</p>


<h6>Want to read this book?</h6>

<!--User can add book to shelf by clicking the "Form" button-->

<form action="/book_info" method="post">
 
    <input type="hidden" name="book_id" value="{{ book_info.id }}">
    <input type="hidden" name="title" value="{{ book_info.title }}">
    <input type="hidden" name="author" value="{{ book_info.author }}">
    <input type="hidden" name="genres" value="{{ book_info.genres }}">
    <input type="hidden" name="image" value="{{ book_info.image_link }}">
    <input type="submit" class="btn btn-secondary shelf_button"  name="submit" value="Add to shelf">


</form>

</div>

</div>

{% endblock %}