{% extends "layout.html" %}

{% block title %}
Post
{% endblock %}


{% block content %}
<form action="/cancel" id="post_form" method="post">
    
    <div class="mb-3">
        <input class="form-control col-md-2" autocomplete="off" autofocus id="event_id" name="event_id" value="{{ event_id }}" type="hidden">
       </div>

        <!-- https://stackoverflow.com/questions/66363446/python-flask-how-to-access-the-data-from-an-html-textarea-using-a-hyperlink-but?rq=1 (helped me figure out how to get value from textarea)-->
    <div class="mb-3">
       
        <textarea name="message" id="text" class="form-control cancel_message" rows="4" placeholder="Enter your message">{{ request.form['message'] }}</textarea>
    </div>

    <button class="btn btn-primary cancel_button" type="submit">Cancel Event</button>


</form>


{% endblock %}