{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<!-- Used this source for the search button icon: https://www.w3schools.com/howto/howto_css_search_button.asp -->



<!-- Used this source for the search button icon: https://www.w3schools.com/howto/howto_css_search_button.asp -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <form method="post" action="/search" class="form-inline searchbar">
        
        <input name ="search" class="form-control form-control-sm ml-3 w-75 search_field col-md-2" type="text" placeholder="Search Book"
          aria-label="Search">

          
          <button class="search_button" type="submit"><i class="fa fa-search"></i></button>
      </form>


  

    <!--Table-->
    <table class="table table-dashboard table-bordered">
        <thead>
            <!--Header row of table-->
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Book Cover</th>
                <th>View</th>
            </tr>          

        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td><img src = "{{ book.image_link }}" alt = "{{ book.title }}" height="200" width="200"></td>
                <td>
                    <form action="/" method="post">
                        <input type="hidden" name="book_id" value="{{ book.id }}">
                        <input type="submit" class="btn btn-info"  name="submit" value="Info">
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
  
   


   

{% endblock %}