{% extends "layout.html" %}

{% block title %}
Search Results
{% endblock %}



{% block content %}

<!-- https://mdbootstrap.com/docs/b4/jquery/forms/search/ -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <form method="post" action="/search_profile" class="form-inline searchbar">

        <input name="search" class="form-control form-control-sm ml-3 w-75 search_field col-md-2" type="text" placeholder="Search Profile"
          aria-label="Search">    
          
          <button type="submit" class="search_button"><i class="fa fa-search"></i></button>
      </form>

      {% if length < 1 %}

      <h3 class="no_results">No Results Found</h3>

    {% else %}

    <table class="table table-search">
        <thead>
            <!--Header row of table-->
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email </th>
                <th>Class Year</th>
                <th>Info</th>
                
            </tr>          

        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>{{ profile.first_name }}</td>
                <td>{{ profile.last_name }}</td>
                <td>{{ profile.email }}</td>
                <td>{{ profile.class_year }}</td>
                <td>
                    <form action="/match_info" method="post">
                        <input type="hidden" name="user_id" value="{{ profile.user_id }}">
                        <input class="btn btn-info" type="submit"  name="submit" value="Info">
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}




   

{% endblock %}